/* body {
	background-image: url('./assets/fondo_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
} */

.rectangle {
	background-color: rgba(0, 0, 0, 0.6);
	display: block;
	width: 500px;
	height: 480px;
}
/* .container {
	display: block;
	margin-bottom: 10px;
} */
.hora {
	display: block;
	color: rgb(214, 211, 214);
	font-family: 'Helvetica Neue';
	font-size: 190px;
	text-align: center;
}
.fecha {
	margin-top: -20px;
	display: block;
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	font-size: 40px;
	color: rgb(214, 211, 214);
}
.grados {
	display: block;
	float: left;
	color: rgb(214, 211, 214);
	padding-left: 30px;
	font-size: 120px;
	font-family: 'Helvetica Neue', sans-serif;
	margin-top: 35px;
}
.cuidad {
	display: block;
	float: right;
	padding-right: 30px;
	margin-top: 80px;
	color: rgb(214, 211, 214);
	font-size: 40px;
	font-family: 'Helvetica Neue', sans-serif;
}
